%h1
  Overview
%p.sub
  The table below gives the state of all jobs in the delayed_jobs table broken
  down by status.
%table.overview
  %tr
    %th Status
    %th Count
  %tr
    %td.status
      %a{:href => u('/working')} Working Jobs
    %td= count_all_jobs(:working)
  %tr
    %td.status
      %a{:href => u('/pending')} Pending Jobs
    %td= count_all_jobs(:pending)
  %tr{:class => count_all_jobs(:failed) > 0 ? 'failure' : ''}
    %td.status
      %a{:href => u('/failed')} Failed Jobs
    %td= count_all_jobs(:failed)
  %tr.all
    %td.status
      %a{:href => u('/enqueued')} All Jobs
    %td= count_all_jobs
= poll
