%h1
  Stats
%table.stats
  %tr
    %th.status
      environment
    %th= Sinatra::Application.environment.to_s
  %tr
    %th.status
      failed
    %th= count_all_jobs(:failed)
  %tr
    %th.status
      pending
    %th= count_all_jobs(:pending)
  %tr
    %th.status
      working
    %th= count_all_jobs(:working)
= poll
